@{
    ViewBag.Title = "Departures";
}
    <h1>
        Routes
    </h1>
    <div>
        <select data-bind="options: routes,
                            value: selectedRoute,
                            optionsCaption: 'Choose...'" autofocus></select>
    </div>
    <div data-bind="if: selectedRoute()">
        <div data-bind="if: !locker()">
            <h1 data-bind="text: departureRoute"></h1>
            <h2>
                Departures
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>Departs</th>
                        <th>Minutes</th>
                        <th>Service</th>
                        <th>Stop</th>
                        <th>Destination</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: departures">
                    <tr>
                        <td data-bind="text: Departs, css: Reachable"></td>
                        <td data-bind="text: DepartsIn"></td>
                        <td data-bind="text: Service"></td>
                        <td data-bind="text: BusStop"></td>
                        <td data-bind="text: Destination"></td>
                    </tr>
                </tbody>
            </table>
            <p>Updated: <span data-bind="text: lastUpdated"></span></p>
            <button data-bind="click: refreshDepartures">Refresh</button>
        </div>
        <div data-bind="if: locker()">
            Loading...
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/scripts")
    <script>
   (function ($, ko) {
       var routesApiUrl = '@Url.Action("RoutesJson", "DepartureApi")',
            departureApiUrl = '@Url.Action("DeparturesJson", "DepartureApi")';

        var model = new BusDepartureViewModel(routesApiUrl, departureApiUrl);
        ko.applyBindings(model);
        model.getRoutes();
   })($, ko);
    </script>
}
