@{
    ViewBag.Title = "Departures";
}
    <h1>
        Routes
    </h1>
    <div>
        <select data-bind="options: routes,
                            value: selectedRoute,
                            optionsCaption: 'Choose...'" autofocus></select>
    </div>
    <div data-bind="if: selectedRoute()">
        <div data-bind="if: !locker()">
            <h1 data-bind="text: departureRoute"></h1>
            <h2>
                Departures
            </h2>
        </div>
        @Html.Partial("Departures")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/scripts")
    <script>
   (function ($, ko) {
       var routesApiUrl = '@Url.Action("RoutesJson", "DepartureApi")',
            departureApiUrl = '@Url.Action("DeparturesJson", "DepartureApi")';

        var model = new BusDepartureViewModel(routesApiUrl, departureApiUrl);
        ko.applyBindings(model);
        model.getRoutes();
   })($, ko);
    </script>
}
